<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head" />
<body>
  <div th:replace="fragments/common :: bootstrap" />
  <div class="portletBody">
    <div id="menu" th:include="fragments/menus :: main (index)" />
    <div class="page-header">
      <h1 th:text="#{common_title}"></h1>
    </div>
    <h4>Crear anotación</h4>
	<form action="#" th:action="@{/add/annotation}" th:object="${anotacion}" method="post">
	  <div class="form-group">
	    <label for="anotacion">Texto de la anotacion:</label>
	    <input type="text" class="form-control" id="anotacion" th:field="*{anotacion}">
	  </div>
	  <div class="form-group">
    	<select name="persona" th:field="*{persona}">
    		<option th:each="miembro : ${listadoMiembros}" th:value="${miembro.userEid}" th:text="${miembro.userEid}">
    	</select>
	  </div>
	  <div class="checkbox">
	    <label><input type="checkbox" name="oculto" th:field="*{visible}">Ver la anotacion?</label>
	  </div>
	  <button type="submit" class="btn btn-default">Crear Anotacion</button>
	</form>
	<table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Persona</th>
	        <th>Anotacion</th>
	        <th>Visible?</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="anotacion : ${listaAnotaciones}">
	        <td th:text="${anotacion.persona}">Miguel</td>
	        <td th:text="${anotacion.anotacion}">XXXXXX</td>
	        <td th:if="${anotacion.visible}"><i class="fa fa-eye" aria-hidden="true"></i></td>
	        <td th:if="${anotacion.visible == false}"><i class="fa fa-eye-slash" aria-hidden="true"></i></td>
	      </tr>
	    </tbody>
	  </table>
</body>
</html>
