<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head" />
<body>
  <div th:replace="fragments/common :: bootstrap" />
  <div class="portletBody">
    <div id="menu" th:include="fragments/menus :: main (index)" />
    <div class="page-header">
      <h1 th:text="#{common_title}"></h1>
    </div>
    <h1 th:text="${siteTitle}"></h1>
    <div class="form-group">
        <button class="btn btn-primary" th:attr="onclick=|addMe();|">Create one</button>
    </div>
    <div class="table-responsive" th:if="${!personList.isEmpty()}">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Context</td>
                    <td>Address</td>
                </tr>
            </thead>
            <tbody>
                <tr th:attr="id=${person.id}" th:each="person : ${personList}">
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.context}"></td>
                    <td th:text="${person.address}"></td>
                    <td><a href="#" th:attr="onclick=|removeMe('${person.id}');|" >Remove me</a></td>            
                </tr>
            </tbody>
        </table>
    </div>
    <h1>Las asignaturas empiezan aqui:</h1>
    <div class="sak-banner-info" th:text="#{subject_count(${subjectCount})}">Tienes 2547589y34789yheghdsf78ghgewbh78ewh g78ewgh 78e aignatusasds.</div>
    <div th:if="${subjectList == null}"></div>
    <div class="table-responsive" th:if="${subjectList != null && !subjectList.isEmpty()}">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Context</td>
                    <td>Title</td>
                </tr>
            </thead>
            <tbody>
                <tr th:attr="id=${subject.context}" th:each="subject : ${subjectList}">
                    <td th:text="${subject.context}"></td>
                    <td th:text="${subject.title}"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <script th:inline="javascript">
  /*<![CDATA[*/
      const toolPlacement = 'edf-hello-world-tool';
      const siteId = /*[[${currentSiteId}]]*/;
      function addMe() {
          fetch(`/${toolPlacement}/add/${siteId}`, {method: 'POST'})
          .then(response => {
              if (!response.ok) {
                  console.log('Error creating person');
              } else {
                  location.reload();
              }
          });
      }
      function removeMe(personId) {
          fetch(`/${toolPlacement}/delete/${personId}`, {method: 'POST'})
          .then(response => {
              if (!response.ok) {
                  console.log('Error deleting personId' + personId);
              } else {
                  const personRow = document.getElementById(personId);
                  if (personRow) {
                      personRow.remove();
                  }
              }
          });
      }
      /*]]>*/
  </script>
</body>
</html>
